# Module 4 Project

Author: [Sarah Deconink](https://github.com/Sarah566092/)
Repository: [datafun-04-notebooks](https://github.com/Sarah566092/datafun-04-notebooks)

## Task 2 - Data Frames

### Task 1. Create DataFrame

In [2]:
import pandas as pd

# generate a DataFrame for grades from dictionary values

grades_dict = {'Wally':[87, 96, 70], 'Eva':[100, 87, 90], 'Sam':[94, 77, 90], 'Katie':[100, 81, 82], 'Bob':[83, 65, 85]}

grades = pd.DataFrame(grades_dict)

grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

### Task 2.Custom Index

In [3]:
# create a custom index
# instead of 0,1,2 use Test1,Test2,Test3

grades.index = ['Test1', 'Test2', 'Test3']

grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [15]:
# access Eva and Sam's grades using different methods

print("Here are Eva's grades:\n")
print(grades['Eva'])

print("\nHere are Sam's grades:")
grades.Sam

Here are Eva's grades:

Test1    100
Test2     87
Test3     90
Name: Eva, dtype: int64

Here are Sam's grades:

Test1    94
Test2    77
Test3    90
Name: Sam, dtype: int64