# Project 4 Extra Credit
Sarah DeConink
06/01/2023

In [5]:
import pandas as pd

# create a list of contacts
contacts = [['Mike Green', 'demo1@deitel.com','5555555555'], ['Sue Brown', 'demo2@deitel.com', '5555551234']]

# create a DataFrame
contactsdf = pd.DataFrame(contacts, columns=['Name', 'Email','Phone'])

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [6]:
import re

# create a function to change the ########## format to ###-###-####
def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [7]:
# updating the DataFrame by assigning the Series to the 'Phone' column
contactsdf['Phone'] = formatted_phone

contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234